*.p
*.pyc
*.jpg
*.txt
!requirements.txt
.DS_Store
*.hdf5
*.jpeg
*.h5
.ipynb_checkpoints/*
.ipynb_checkpoints/
*.ipynb
.idea/
Flickr8k_text/*
Flicker8k_Dataset/*
encoded_images.p
weights-improvement-*
